@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #54BAB9;
    padding: 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 10em;
}

.nav__logo {
    width: 4em
}

.nav__ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 2em;
}

.nav__li,
a {
    color: #F7ECDE;
    cursor: pointer;
}

.nav__li:hover,
a:hover {
    color: #e2dfdc;
}

a {
    text-decoration: none;
}

.nav__btn {
    width: 4em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5em;
    border: none;
}

.nav__btn img {
    width: 100%;
}

/* PRODUCTS CSS */

.products__container {
    margin-top: 3em;
    padding: 0em 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 2em;
    align-items: center;
    justify-content: center;
}

.item__container {
    margin: 0 auto;
    width: 20em;
    animation: opacity 1000ms;
    border-radius: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 38px 13px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 38px 13px rgba(0, 0, 0, 0.05);
}

.item__title {
    margin-top: 1em;
    color: #54BAB9;
}

.item__detail {
    text-decoration: underline;
    color: black !important;
}

.item__detail:hover {
    color: #54BAB9;
    transition: 200ms;
    cursor: pointer;
}


.item__price__btn__container {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__price {
    font-weight: 600;
    font-size: 1.3em;
}

.item__btn {
    width: 12em;
    padding: 0.5em;
    border: none;
    border-radius: 1em;
    color: white;
    background-color: #54BAB9;
    cursor: pointer;
}

.item__btn:hover {
    background-color: #389897;
}

.item__detail__container__page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__detail__container {
    margin-top: 3em;
    width: 45em;
    background-color: #54BAB9;
    padding: 1em;
    border-radius: 2em;
    display: flex;
}

.item__detail__img {
    width: 20em;
    height: 20em;
    border-radius: 1em;
}

.item__detail__right {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item__detail__container__info {
    display: flex;
    flex-direction: column;
}

.item__detail__container__info h5 {
    font-size: 1.5em;
}

.item__detail__container__info p {
    text-align: justify;
}

.btn__count {
    margin: 0em 1em 0em 1em;
    background-color: white;
    border: none;
    padding: 0.5em;
    border-radius: 1em;
}

.btn__count:hover {
    background-color: rgb(233, 231, 231);
    cursor: pointer;
}

/* CART */

.cart__container {
    margin-top: 3em;
    padding: 0em 10em 0em 10em;
}

.item__cart__container {
    background-color: #54BAB9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 2em;
}

.item__cart__left {
    display: flex;
    align-items: center;
    gap: 1em;
}

.item__cart__img {
    border-radius: 1em;
    width: 7em;
}

.item__cart__right {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.item__cart__btn {
    background-color: white;
    border: none;
    padding: 0.5em;
    border-radius: 1em;
}

.item__cart__btn:hover {
    background-color: rgb(233, 231, 231);
    cursor: pointer;
}

.cart__static {
    display: flex;
    justify-content: space-between;
}

.cart__price {
    font-size: 2em;
    font-weight: 700;
}

.cart__btn__container {
    display: flex;
    gap: 2em;
}

.cart__btn {
    background-color: #54BAB9;
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    font-size: 1em;
}

.cart__btn:hover {
    background-color: #389897;
    cursor: pointer;
}

/* FORM */

.form__container {
    background-color: #54BAB9;
    padding: 1em 3em 1em 3em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 3em;
    align-items: center;
}

.form__container__info {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.form__container__left {
    display: flex;
    flex-direction: column;
}

.form__input {
    width: 15em;
}

.form__btn {
    background-color: white;
    border: none;
    width: 15em;
    font-size: 1em;
    border-radius: 1em;
    padding: .5em;
    cursor: pointer;
}

.form__btn:hover {
    background-color: #e2dfdc;
}


/* FOOTER */

.footer {
    background-color: #54BAB9;
    margin-top: 2em;
    padding: 2em;
    display: flex;
    justify-content: center;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }

}